@font-face {
    font-family: 'RobotoCondensed-Regular'; /* Font için bir isim verin */
    src: url('RobotoCondensed-Regular.ttf') format('truetype'); /* Font dosyasının yolu */
    font-weight: normal; /* Fontun ağırlığı (opsiyonel) */
    font-style: normal; /* Fontun stili (opsiyonel) */
}

/* Fontu kullanmak için */
body {
    font-family: 'RobotoCondensed-Regular', sans-serif; /* Yedek font olarak sans-serif */
}

/* Genel vücut stili ve arka plan resmi */
body {
    margin: 0;
    padding: 0;
    background: url('bg.png') repeat;
    background-position: top left;
    background-attachment: fixed;
}

/* Genel sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header stili */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Header bölümleri */
.header-left, .header-center, .header-right {
    flex: 1;
    text-align: center;
    padding: 8px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Logo ile menü arasında boşluk */
}

/* Navigasyon menüsü */
.site-nav {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

.site-nav ul li {
    position: relative;
    flex: 1;
}

.site-nav ul li a {
    font-size: 17px; /* Menü başlıklarının font büyüklüğü */
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px; /* Sabit yükseklik */
    overflow: hidden; /* Taşan yazılar gizlenir */
}

/* Ana menü başlıkları için hover efekti */
.site-nav > ul > li > a:hover {
    color: #ffc8c4; /* Hover olduğunda font rengi değşir */
}

/* Sadece Home ikonuna hover durumu uygulamak için */
.site-nav ul li a:hover i {
    color: #7fcffa; /* Hover olduğunda ikon rengi değişir */
}

/* Diğer hover olayları, örneğin metin rengi veya arka planı */
.site-nav ul li a:hover {
    
    
}

/* Dropdown menü stili */
.site-nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(116, 118, 118, 0.9);
    width: 100%;
    z-index: 998;
}

/* İlk seviye menü hover ile görünmesi */
.site-nav ul li:hover > ul {
    display: block; /* İlk seviye alt menü görünür */
}

/* İç alt menü (Kahvaltı Tabağı için) */
.site-nav ul li ul li ul {
    display: none;
    position: absolute;
    left: 100%; /* Sağda görünmesi için */
    top: 0; /* Üst menü ile hizalanması için */
    background-color: rgba(116, 118, 118, 0.9);
    width: 160px; /* İç alt menü genişliği */
    z-index: 999;
}

/* İç alt menü hover ile görünmesi */
.site-nav ul li ul li:hover > ul {
    display: block; /* Sadece ilgili alt menü görünür */
}

/* Alt menüdeki elemanlar */
.site-nav ul li ul li {
    width: 100%;
    padding: 1px; /* Alt menü öğelerinin padding'i */
}

/* İç alt menüdeki elemanlar */
.site-nav ul li ul li ul li {
    width: 100%;
    padding: 1px; /* İç alt menü elemanlarının padding'i */
}

/* Alt ve iç alt menü elemanları hover olduğunda */
.site-nav ul li a:hover, .site-nav ul li ul li a:hover, .site-nav ul li ul li ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Hover rengi */
}

/* Anasayfa Başlangıcı */

/* Tüm sayfayı kapsayacak şekilde vücut ve HTML elemanlarını sıfırla ve yüksekliği tam yap */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Görselin yerleşeceği konteyner */
.anasayfa {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center;     /* Dikeyde ortala */
  height: 100vh;           /* Sayfanın tam yüksekliğini al */
}

/* Sadece .centered-image sınıfına sahip görselleri etkileyen stil */
.centered-image {
  width: 900px;  /* Genişlik: 300px, burayı isteğe göre değiştirebilirsin */
  height: auto;  /* Yüksekliği, genişliğe göre orantılı olarak ayarlansın */
}

/* Anasayfa Bitimi */

/* Hazırlanıyor Başlangıcı */

.hazirlaniyor {
    position: absolute; /* Kapsayıcı div'in sayfa ortasında sabit durmasını sağlar */
    top: 45%; /* Dikeyde ortalamak için */
    left: 50%; /* Yatayda ortalamak için */
    transform: translate(-50%, -50%); /* Div'i tam ortalamak için */
    width: 300px;
}

/* İç divler için stil ayarları */
.chef, .say_haz_asa {
    position: relative; /* İç divlerin pozisyonunu belirler */
    width: 100%; /* Kapsayıcıya tam oturmasını sağlar */
    height: 50%; /* Kapsayıcı divin yarısını kaplar */
    margin: 0; /* Aradaki boşlukları kaldırır */
    padding: 0; /* İç boşlukları kaldırır */
}

/* Resim için stil ayarları */
.chef img {
    width: 100%; /* Resmi kapsayıcı divin genişliğine göre ayarlar */
    height: auto; /* Oranları koruyarak yükseklik otomatik ayarlanır */
}

/* Metin için stil ayarları */
.say_haz_asa {
    font-size: 26px;
    color: gray;
    text-align: center; /* Metni yatayda ortalar */
    margin: 0; /* Üstte ve altta boşluk bırakmaz */
    padding: 0; /* İç boşlukları kaldırır */
}

/* Kapsayıcı div ve içindeki elemanlar arasında boşluk olmaması için genel ayar */
* {
    padding: 0; /* Tüm elemanların varsayılan paddinglerini kaldırır */
    margin: 0; /* Tüm elemanların varsayılan marginlerini kaldırır */
    box-sizing: border-box; /* Padding ve border'ı boyut hesabına dahil eder */
}

/* Hazirlanıyor Bitimi */


/* İçerik Başlangıcı */
.content {
  margin:auto;
  width:1669px;
}
.food_name {
  position: relative;
  font: 35px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica; 
  padding-top: 100px;
  padding-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
.card_icon {
  width: 0px;
  height: 0px;
} 
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 600px;
  margin: 1rem;
  position: relative;
  width: 800px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.1);
}
.card_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header {
  font: 30px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  text-transform: uppercase;
  padding: 26px;
  background-image: linear-gradient(#fff, #eee);
  text-align: center;
  color: #333;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}
/* İçerik Bitimi */

/* Responsive tasarım */
@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
    }

    .site-nav ul {
        flex-direction: column;
    }

    .site-nav ul li ul {
        position: static;
    }

    .site-nav ul li a {
        padding: 50px;
    }
}
